 * {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
 }
.nav-link {
    color:white;
}
.nav-link:hover {
    color:white;
}
.nav-tabs {
    border:none;
}
 .banner {
     position: relative;
     width: 100%;
     height: 85vh;
     background: url("../img/bg1.jpg") center / cover no-repeat;
     display: flex;
     align-items: center;
     justify-content: center;
     color: white;
 }

 .banner-caption {
     position: relative;
     margin-right: 500px;
     z-index: 1;
 }
 .list-group a {
     text-decoration: none;
     color: rgb(255, 255, 255);
 }